<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="TargetsLayout">
        <layout>${longdate} | ${level:uppercase=true} | ${message} | ThreadId=${threadid} | ${callsite:className=false:fileName=true:includeSourcePath=false:methodName=true} | GCTotalMemory=${gc:property=TotalMemory}${onexception:inner= | ${exception:format=ToString}}</layout>
    </variable>
    <targets>
        <target name="FileTarget" xsi:type="File"
                layout="${TargetsLayout}"
                fileName="${basedir}/${processname}.log"
                keepFileOpen="true"
                encoding="utf-8" />

        <target name="ColoredConsoleTarget" xsi:type="ColoredConsole"
                enableAnsiOutput="true"
                layout="${TargetsLayout}" />

        <target name="DebugSystemTarget" xsi:type="DebugSystem"
                layout="${TargetsLayout}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="ColoredConsoleTarget" />
        <logger name="*" minlevel="Trace" writeTo="FileTarget" />
        <logger name="*" minlevel="Trace" writeTo="DebugSystemTarget" />
    </rules>
</nlog>